@{
    ViewBag.Title = "CustomerPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- bootstrap datepicker -->
<link href="~/plugins/datepicker/datepicker3.css" rel="stylesheet" />

<section class="content-header">
    <h1>
        Payments
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li class="active"><a href="#">Payments</a></li>
    </ol>
</section>

<section class="content">

    <!-- /.box-header -->
    <div class="row">
        <div class="col-xs-12 col-md-10">
            <form class="form-horizontal">

                <div class="form-group">
                    <label class="control-label col-md-2" for="customer">Customer :</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control input-md" id="customer">
                    </div>

                    <label class="control-label col-md-2" for="no">No :</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-md" id="no">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="ref">Balance :</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-md" id="ref">
                    </div>

                    <label class="control-label col-md-2 col-md-offset-2" for="date">Date:</label>
                    <div class="col-md-3">
                        <div class="input-group date">
                            <input type="text" class="form-control pull-right" id="datepicker">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <!-- table -->

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Invoices</h3>

        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table id="ple2" class="table table-hover">
                <tr>
                    <th>No</th>
                    <th>Date</th>
                    <th>Age</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Balance</th>
                </tr>
                <tr>
                    <td>183</td>
                    <td>John Doe</td>
                    <td>11-7-2014</td>
                    <td><span class="label label-success">Approved</span></td>
                    <td>1244</td>
                    <td>2454</td>
                </tr>
                <tr>
                    <td>219</td>
                    <td>Alexander Pierce</td>
                    <td>11-7-2014</td>
                    <td><span class="label label-warning">Pending</span></td>
                    <td>11111</td>
                    <td>22222</td>
                </tr>
                <tr>
                    <td>657</td>
                    <td>Bob Doe</td>
                    <td>11-7-2014</td>
                    <td><span class="label label-primary">Approved</span></td>
                    <td>33333</td>
                    <td>44444</td>
                </tr>
                <tr>
                    <td>175</td>
                    <td>Mike Doe</td>
                    <td>11-7-2014</td>
                    <td><span class="label label-danger">Denied</span></td>
                    <td>55555</td>
                    <td>66666</td>
                </tr>
            </table>
        </div>
        <!-- /.box-body -->
    </div>


    <!-- /.box-header -->
    <div class="row">
        <div class="col-xs-12 col-md-10">

            <label class="control-label col-xs-2" for="employee">Employee :</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" id="employee">
            </div>

        </div>
        <div class="col-xs-12 col-md-10">

            <label class="control-label col-xs-2" for="route">Route :</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" id="route">
            </div>

        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-12 col-md-10">
            <div class="col-md-2">
                <button type="button" class="btn  btn-primary btn-block">New</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn  btn-primary btn-block">Delete</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn  btn-primary btn-block">Save</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn  btn-primary btn-block">Print</button>
            </div>
            <div class="col-md-2 col-md-push-4 ">
                <a href="~/CustomerPayment/PaymentMethod" class="btn btn-success btn-block" role="button">Payment</a>
                
            </div>
        </div>
    </div>

</section>

<!-- bootstrap datepicker -->
<script src="~/plugins/datepicker/bootstrap-datepicker.js"></script>

<script>
    $(function () {
        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        });

        //table scroll
        $('#ple2').DataTable({
	      "scrollY": "100px",
          "scrollCollapse": true,
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
  });
</script>